@charset "utf-8";
@import url("setup.css");

$black: #000000;
$black2: #000000;

@mixin size($size) {
    @if $size==mobile {
        @media (max-width: 500px) {
            @content;
        }
    }

    @else if $size==tablet {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $size==tablet-up {
        @media (max-width: 1024px) {
            @content;
        }
    }

    @else if $size==laptop {
        @media (max-width: 1366px) {
            @content;
        }
    }

    @else if $size==laptop-up {
        @media (max-width: 1440px) {
            @content;
        }
    }
}

html {
    @include size(laptop) {
        font-size: calc(13px + 0.25vw);
    }
}

.wrapper-p {
    width: 66%;
    margin: 0 auto;
    padding-right: 3rem;
    padding-left: 3rem;
    position: relative;

    &.client {
        padding: 0 4rem;
    }
}

.wrapper-np {
    width: 66%;
    margin: 0 auto;
    position: relative;
}

.burger {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #FFFFFF;
    position: fixed;
    top: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7px;
    z-index: 9990;
    cursor: pointer;
    box-shadow: 0px 0px 18px rgba(30, 20, 60, 0.2);

    @include size(mobile) {
        top: 1rem;
        left: 1rem;
    }

    span {
        height: 2px;
        width: 25px;
        background: $black;
        margin: 3px;
        cursor: pointer;
        transition: all 0.2s;

        &:nth-child(2) {
            width: 18px
        }

        &:last-child {
            width: 28px;
        }
    }

    &:hover {
        align-items: center;
        padding: 0;

        span {
            margin: 2px;
        }

        span:first-child {
            width: 10px;
            transform: rotate(33deg) translate(6px, 0px);
        }

        span:last-child {
            width: 10px;
            transform: rotate(-33deg) translate(6px, 0px);
        }
    }
}

.content {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    position: relative;
    z-index: 999;

    &.client {
        @include size(tablet-up) {
            min-height: auto;
            height: auto;
            padding: 4rem 0 5rem;
        }
    }

    &.about {
        @include size(tablet-up) {
            min-height: auto;
            height: auto;
            padding: 2.5rem 0 0;
        }
    }

    &.service {
        @include size(mobile) {
            min-height: auto;
            height: auto;
            padding: 2.5rem 0 35rem;
        }
    }
}

h1 {
    font-family: "gadugi", sans-serif;
    line-height: 1.2;
    font-size: 3.2rem;

    @include size(tablet) {
        font-size: 2.5rem;
    }
}

.main {
    .main-message {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        z-index: 99;
    }

    .section {
        width: 100%;
        height: 100vh;
        background: url('../images/img02.jpg') center -300px no-repeat;
        background-size: 140%;
        top: 0;
        left: 0;
        opacity: 1;
        transition: all 1s;
    }

    .section01 {
        position: absolute;
        z-index: 10;
        height: calc(160vh - 250px);

        @include size(tablet-up) {
            height: 100vh;
            background: url('../images/img02.jpg') center center no-repeat;
            background-size: cover;
        }
    }

    .section02 {
        position: absolute;
        z-index: 1 !important;
        height: 160vh;
        background: url('../images/img01.jpg') center no-repeat;
        background-size: 125%;
        top: -250px;

        @include size(tablet-up) {
            top: 0;
            height: 100vh;
            background: url('../images/img01.jpg') center center no-repeat;
            background-size: cover;
        }
    }

    #main1 {
        font-family: "gadugi", sans-serif;
        font-size: 3.4rem;
        color: $black;
        text-align: center;
        margin-bottom: 1.6rem;

        @include size(mobile) {
            font-size: 2.5rem;
        }
    }

    #main2 {
        margin-top: 1.3rem;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 500;
        font-size: 2.3rem;
        color: $black;
        text-align: center;
        word-break: keep-all;
        letter-spacing: -2px;
        width: 100%;
        padding: 0 3rem;

        @include size(mobile) {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.4;
        }
    }

    #main3 {
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        font-size: 1.15rem;
        color: $black;
        text-align: center;
        margin-top: 1.35rem;
        letter-spacing: -1px;

        @include size(mobile) {
            font-size: 1.25rem;
            margin-top: 3rem;
        }
    }

    .canvas {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        opacity: 1;
        transition: all 1.5s;
        width: 100%;
        transform: scale(1.15);
        top: -150px;

        @include size(mobile) {
            display: none !important;
        }
    }

    .canvas01 {
        z-index: 6 !important;
    }

    .canvas02 {
        z-index: 7 !important;
    }

    .m.active {
        transform: scale(1.16);
        opacity: 0;

        @include size(mobile) {
            transform: scale(1);
        }
    }
}

.bg {
    width: 160%;
    height: 160%;
    background: url("../images/img02.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
}

.line-black {
    border: 5px solid;
    padding: 0.5px;
    height: 5.5%;
    border: 5px;
    background-color: $black;

    @include size(mobile) {
        height: 3.5%;
    }
}

// Vision

#vision {
    position: relative;

    .text {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        position: absolute;
        bottom: 4rem;
        left: 3rem;

        @include size(mobile) {
            left: 0;
            bottom: 10vh;
            font-size: 1.2rem;
            word-break: keep-all;
        }
    }

    h1 {
        margin-top: 3rem;

        @include size(mobile) {
            margin-top: 14vh;
        }
    }
}

.news-inner {
    height: calc(40vh + 260px);
    position: absolute;
    bottom: 0;
    background: #fff;
    z-index: 999;
    width: 66%;
    margin: 0 auto;
    padding-right: 3rem;
    padding-left: 3rem;

    @include size(laptop-up) {
        height: calc(40vh + 290px);
    }

    @include size(laptop) {
        height: calc(40vh + 250px);
    }

    @include size(mobile) {
        height: 100vh;
        width: 78%;
        padding: 0;
        background: none;
    }
}

.circles {
    position: absolute;
    width: 43%;
    right: 16%;
    font-size: 0.9rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    top: 12.5rem;

    .circle-pc {
        @include size(mobile) {
            display: none;
        }
    }

    .circle-mobile {
        position: absolute;
        display: none;
        width: 78%;
        left: 12%;

        .circle {
            position: absolute;

            .circle-inner {
                width: 33vw;
                height: 33vw;
            }
        }

        .circle-02 {
            left: 26vw;
        }

        .circle-03 {
            left: 52vw;
        }

        @include size(mobile) {
            display: block;
        }
    }

    @include size(laptop-up) {
        top: 13.5rem;
        width: 45%;
        font-size: 0.95rem;
    }

    @include size(laptop) {
        top: 12rem;
    }

    @include size(mobile) {
        width: 100%;
        top: calc(50% - 16.5vw);
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .circle {
        position: relative;
        cursor: pointer;
    }

    .circle-inner {
        position: absolute;
        border: 4px solid #000;
        border-radius: 50%;
        width: calc(7.5vw + 2rem);
        height: calc(7.5vw + 2rem);
        display: flex;
        justify-content: center;
        align-items: center;

        @include size(laptop-up) {
            width: calc(7.5vw + 3rem);
            height: calc(7.5vw + 3rem);
        }

        &:hover,
        &:active {
            &.black {
                opacity: 1;
            }
        }

        &.black {
            opacity: 0;
            text-align: center;
            background: #000;
            color: #fff;
            z-index: 2;
            transition: all 0.3s;
        }

        &.white {
            background: #fff;
            text-align: left;
            z-index: 1;
        }
    }
}

.square {
    position: absolute;
    top: 0;
    background: #fff;
    height: 60%;
    width: 18%;
    z-index: 999;

    &.right {
        right: 0%
    }

    &.left {
        left: 0%;
    }

    @include size(mobile) {
        display: none;
    }
}

.business-partner {
    position: absolute;
    top: 4.5rem;
    right: 3rem;
    font-family: "gadugi", sans-serif;
    font-size: 1.2rem;

    @include size(mobile) {
        top: 10vh;
        right: auto;
        left: 0;
        font-size: 1.4rem;
    }
}

// ref

.feedback {
    background: url('../images/ref-bg.jpg') center no-repeat;
    background-size: cover;

    @include size(mobile) {
        background: url('../images/ref-bg-m.jpg') right top no-repeat;
        background-size: cover;
    }
}

#reference {
    position: relative;

    .swiper-ref-next {
        background: url('../images/ref-next.png') !important;
        background-position: center !important;
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        position: absolute;
        top: auto;
        bottom: 18.9%;
        right: 25.3%;
        width: 2.5rem;
        height: 2.5rem;

        @include size(laptop-up) {
            bottom: 17.2%;
            right: 24.9%;
            width: 2.25rem;
            height: 2.25rem;
        }

        @include size(laptop) {
            bottom: 18.8%;
            right: 25.3%;
            width: 2rem;
            height: 2rem;
        }

        @include size(tablet-up) {
            display: none;
        }
    }

    .swiper-ref-prev {
        background: url('../images/ref-prev.png') !important;
        background-position: center !important;
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        position: absolute;
        top: auto;
        bottom: 18.9%;
        right: 28.1%;
        width: 2.5rem;
        height: 2.5rem;
        left: auto;

        @include size(laptop-up) {
            bottom: 17.2%;
            left: auto;
            right: 28.2%;
            width: 2.25rem;
            height: 2.25rem;
        }

        @include size(laptop) {
            bottom: 18.8%;
            left: auto;
            right: 28.2%;
            width: 2rem;
            height: 2rem;
        }

        @include size(tablet-up) {
            display: none;
        }
    }

    .swiper-reference-text {
        width: 17rem;
        height: 17rem;
        position: absolute;
        z-index: 50;
        background: none;
        left: 20%;

        @include size(laptop-up) {
            margin-top: 1rem;
        }

        @include size(laptop) {
            margin-top: 0rem;
        }

        @include size(tablet-up) {
            display: none;
        }

        .single {
            margin-top: 2rem;
        }

        .dual {
            margin-top: 1rem;
        }

        .reftext1 {
            position: absolute;
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 700;
            left: 2%;
            top: 40.5%;
            color: #fff;
            font-size: 2vw;
            line-height: 1.5;

            &.single {
                top: 46%;
            }

            &.dual {
                top: 44%;
            }
        }
    }
}

.ref-title {
    position: absolute;
    width: 100%;
    top: 5rem;
    text-align: center;
    color: #fff;

    @include size(laptop-up) {
        top: 4.5rem;
    }

    @include size(laptop) {
        top: 3.5rem;
    }

    @include size(tablet-up) {
        top: 8vh;
    }

    h1 {
        margin-bottom: 0.5rem;

        @include size(laptop) {
            margin-bottom: 0.2rem;
        }
    }

    .ref-des {
        @include size(mobile) {
            word-break: keep-all;
            font-size: 1.15rem;
            margin-top: 2vh;
            width: 66%;
            text-align: center;
            font-weight: 400;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.swiper-reference {
    position: relative;
    height: 90%;
    width: 100%;
    overflow-x: visible;

    @include size(tablet-up) {
        display: none;
    }

    .reftext2 {
        position: absolute;
        font-family: "gadugir", sans-serif;
        left: 15%;
        top: 80%;
        color: #fff;
        font-size: 1.1rem;
    }

    .reftext3 {
        position: absolute;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        top: 80%;
        left: 18rem;
        color: #fff;
        font-size: 1.1rem;
        text-align: right;

        @include size(laptop-up) {
            left: 15rem;
        }

        @include size(laptop) {
            left: 14.5rem;
        }
    }
}

.swiper-reference-mobile {
    display: none;
    width: 100%;
    height: 70vh;
    overflow: visible;
    color: #fff;
    position: absolute !important;
    top: 30vh;
    padding-bottom: 15vh;

    @include size(tablet-up) {
        display: block;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        overflow: visible;
        position: relative;
    }

    .photo {
        height: 70%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .reftext1 {
        font-size: 1.35rem;
        font-weight: 600;
        word-break: keep-all;
        line-height: 1.4;
        margin-top: 2.2rem;
        margin-bottom: 2rem;
    }

    .ref-div {
        display: flex;

        .reftext2 {
            font-weight: 300;
            width: 5rem;
        }

        .reftext3 {
            width: calc(90% - 3rem);
            word-break: keep-all;
        }
    }


}

.swiper-reference .swiper-slide {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    @include size(laptop-up) {
        margin-top: 3rem;
    }

    @include size(laptop) {
        margin-top: 2rem;
    }
}

.swiper-reference .photo {
    height: 58%;
    width: 70%;
    background-size: cover;
    background-position: center;
}

.photo1 {
    background-image: url('../images/ref-wingwing.jpg');
}

.photo2 {
    background-image: url('../images/ref-glowroudi.jpg');
}

.photo3 {
    background-image: url('../images/ref-nongrim.jpg');
}

.photo4 {
    background-image: url('../images/ref-wonderful.jpg');
}

.photo5 {
    background-image: url('../images/ref-samsung.jpg');
}

// project

.project-pc {
    background: #1b1e23;
    display: block;
    position: relative;
    color: #fff;

    @include size(laptop-up) {
        display: none;
    }

    .title {
        position: absolute;
        top: 4rem;
        left: 3rem;

        @include size(laptop-up) {
            top: 3.5rem;
        }
    }

    .sub {
        position: absolute;
        bottom: 6rem;
        left: calc(17% + 3rem);

        @include size(laptop-up) {
            bottom: 7rem;
        }

        @include size(laptop) {
            bottom: 4rem;
        }
    }

    .swiper-project-title {
        position: absolute;
        right: calc(17% + 3rem);
        text-align: right;
        top: 4rem;
        height: 4rem;
        overflow: hidden;

        .swiper-wrapper {
            top: 0;
        }

        .client-name {
            font-family: 'gadugir', 'Noto Sans KR', sans-serif;
            font-size: 1rem;

            @include size(laptop) {
                font-size: 0.85rem;
            }
        }

        .project-name {
            font-family: 'gadugi', 'Noto Sans KR', sans-serif;
            font-weight: 500;
            font-size: 1.7rem;
            margin-top: -0.3rem;

            @include size(laptop) {
                font-size: 1.4rem;
            }
        }
    }

    .swiper-project-pc {
        width: 100%;
        height: 90%;
        position: relative;
        overflow: visible;

        .swiper-wrapper {
            width: 100%;

            .swiper-slide {
                display: block;
                justify-content: center;
                padding: 0 calc(17% + 3rem);
                align-items: center;

            }
        }

        .project-logo {
            width: 100%;
            text-align: right;
            margin-top: 1.5rem;

            @include size(laptop) {
                margin-top: 0.9rem;
            }
        }
    }

    .video-wrapper {
        margin-top: 10rem;
        width: 100%;
        position: relative;
        height: 0;
        padding-bottom: 48%;

        @include size(laptop) {
            margin-top: 8.5rem;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .swiper-prj-prev {
        background-image: url("../images/left-arrow.png");
        position: absolute;
        margin-left: 15% !important;
    }

    .swiper-prj-next {
        background-image: url("../images/right-arrow.png");
        position: absolute;
        margin-right: 15% !important;
    }
}

.project-mobile {
    display: none;
    background: #1b1e23;
    position: relative;
    color: #fff;
    min-height: auto;
    height: auto;
    padding-bottom: 5rem;

    .wrapper-p {
        width: 78vw;
        padding: 3.5rem 0 2.5rem;
        text-align: center;
    }

    .project-title-container {
        text-align: center;

        .client-name {
            font-weight: 300;
        }

        .project-name {
            font-size: 1.35rem;
            font-weight: 700;
            margin-bottom: 2rem;
        }
    }

    @include size(laptop-up) {
        display: block;
    }

    .video-wrapper {
        margin-top: 2rem;
        width: 78vw;
        position: relative;
        height: 35vh;
        padding-bottom: 48%;
        margin-left: 11vw;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .project-logo {
        width: 100%;
        text-align: center;
        margin: 2.8rem 0;

        img {
            width: 30%;
            max-width: 10rem;

            &.sm {
                width: 17.5%;
                max-width: 6rem;
            }

            &.lg {
                width: 55%;
                max-width: 15rem;
            }

            &.md {
                width: 37.5%;
                max-width: 10rem;
            }
        }
    }

    .swiper-pagination-bullets {
        text-align: center;
    }

    .swiper-pagination-bullet {
        background: #757677;
        width: 0.5rem;
        height: 0.5rem;
        margin: 0 0.45rem !important;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
        background: #fff;
    }
}

// about

.about {
    &.content {
        @include size(tablet-up) {
            height: auto;
        }
    }

    .wrapper-np {
        @include size(tablet-up) {
            width: 78%;
            top: 0;
            padding-top: 4vh;
        }
    }

    h1 {
        width: 100%;
        text-align: right;
        padding-right: 2rem;

        @include size(laptop) {
            margin-top: 0rem;
        }

        &.about-title {
            @include size(mobile) {
                top: 3vh;
                padding-right: 0;
                text-align: right;
                width: auto;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .about-box {
        display: flex;

        @include size(laptop) {
            margin-top: -1.5rem;
        }

        @include size(mobile) {
            display: block;
            margin-top: 9rem;
        }
    }

    .box {
        width: 50%;
        height: 60vh;
        background: #40214b;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        position: relative;
        cursor: default;
        margin: 0 auto;

        @include size(mobile) {
            width: 76vw;
            height: 76vw;
        }

        &:hover {
            .hidden {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .hidden {
            width: 100%;
            height: 100%;
            background: url('../images/about01.jpg');
            background-size: cover;
            position: absolute;
            z-index: 3;
            letter-spacing: -2px;
            opacity: 0;
            transition: all 0.45s;
            transform: translateY(1.5rem);
        }

        .h-text {
            width: 100%;
            text-align: center;
            margin-top: 6.5rem;
            font-size: 0.95rem;

            @include size(laptop-up) {
                margin-top: 5rem;
            }

            @include size(laptop) {
                margin-top: 3.5rem;
            }

            @include size(tablet-up) {
                margin-top: 3rem;
                font-weight: 300;
            }
        }

        .h-title {
            width: 100%;
            text-align: center;
            padding: 0;
            font-size: 2.3rem;
            letter-spacing: -4px;
            margin-top: 1rem;

            @include size(laptop) {
                font-size: 2rem;
                letter-spacing: -2px;
            }

            @include size(tablet-up) {
                font-size: 1.7rem;
                font-weight: 500;
            }
        }

        .h-sub-text {
            width: 100%;
            text-align: center;
            font-size: 0.8rem;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            margin-top: 4.25rem;

            @include size(laptop) {
                font-size: 0.87rem;
            }

            @include size(tablet-up) {
                margin-top: 3rem;
            }
        }

        .purple {
            font-family: 'gadugir', sans-serif;
            width: 100%;
            text-align: center;
            letter-spacing: 5px;
            position: absolute;
            top: 4rem;
        }

        .title {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 6rem;
            font-size: 3rem;
            font-family: 'gadugi', sans-serif;
        }
    }

    .box-02 {
        margin-top: 4.5rem;
        background: $black2;

        @include size(mobile) {
            margin-top: 2.75rem;
        }

        .hidden {
            background: url('../images/about02.jpg');
        }

        .h-text {
            @include size(tablet-up) {
                margin-top: 2.5rem;
                font-weight: 300;
            }
        }
    }
}

// service

.service {
    display: block;

    .wrapper-np {
        display: block;
        padding-top: 7rem;

        @include size(laptop) {
            padding-top: 5rem;
        }

        @include size(mobile) {
            width: 78vw;
            overflow: visible;
        }
    }

    .tab-btns {
        display: flex;
        width: 100%;
        font-size: 2.5rem;
        font-family: 'gadugi', sans-serif;
        justify-content: space-around;
        color: #dcdcdc;

        @include size(mobile) {
            font-size: 1.3rem;
            justify-content: space-between;
        }

        .tab-btn {
            cursor: pointer;
            transition: all 0.3s;
            position: relative;

            .service-wrap {
                height: 2rem;
                overflow: hidden;
                position: absolute;
                width: 5rem;
                top: -1rem;
                left: 0;

                @include size(mobile) {
                    top: -1.5rem;
                }
            }

            .service {
                font-size: 1.35rem;
                transform: translateY(2rem);
                transition: transform 0.3s;

                @include size(mobile) {
                    font-size: 1.15rem;
                }
            }

            &:hover,
            &.active {
                color: $black;
            }

            &.active {
                .service {
                    transform: translateY(0);
                }
            }
        }
    }

    .tabs-pc {
        margin-top: 8rem;
        position: relative;
        width: 100%;

        @include size(laptop) {
            margin-top: 6rem;
        }

        @include size(mobile) {
            display: none;
        }

        .tab {
            position: absolute;
            z-index: 1;

            &.active {
                z-index: 2;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;

            li {
                width: 23.5%;
                position: relative;
                cursor: default;
                overflow: hidden;
                transition: all 0.6s;

                img {
                    width: 100%;
                    transition: all 0.4s;
                }

                .title {
                    width: 100%;
                    font-family: 'gadugi', sans-serif;
                    color: #fff;
                    position: absolute;
                    top: 10rem;
                    text-align: center;
                    transition: all 0.4s;

                    @include size(laptop-up) {
                        top: 7.5rem;
                    }

                    @include size(laptop) {
                        top: 8rem;
                    }
                }

                .text {
                    width: 100%;
                    color: #fff;
                    position: absolute;
                    top: 12rem;
                    text-align: center;
                    font-size: 0.95rem;
                    transition: all 0.4s;
                    opacity: 0;

                    @include size(laptop-up) {
                        top: 10rem;
                    }

                    @include size(laptop) {
                        top: 10rem;
                    }

                    span {
                        font-size: 0.5rem;
                    }
                }

                &:hover {
                    transform: scale(1.03);
                    box-shadow: 0px 0px 15px rgba(10, 20, 35, 0.2);

                    img {
                        transform: scale(1.1);
                    }

                    .title {
                        transform: translateY(-2rem);
                    }

                    .text {
                        transform: translateY(-2rem);
                        opacity: 1;
                    }
                }
            }
        }
    }

    .card {
        transform: translateY(4rem);
        opacity: 0;
        transition: all 0.4s;

        &.active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .tabs-mobile {
        margin-top: 3rem;
        display: none;

        @include size(mobile) {
            display: block;
        }

        .swiper-container {
            overflow: visible;
            position: absolute;
        }
        .swiper-slide {
            text-align: center;
            position: relative;
            color: #fff;
            font-size: 1rem;
            
            img {
                width: 100%;
            }

            .title {
                width: 100%;
                position: absolute;
                top: 35%;
                font-weight: 600;
            }

            .text {
                position: absolute;
                width: 100%;
                top: 45%;
                font-weight: 300;
            }
        }

        .swiper-scrollbar {
            position: absolute;
            bottom: -7rem;
            left: 0;
            width: 78vw;
            height: 0.15rem;
            background: #d1d1d9;
            margin-top: 15rem;
            margin-bottom: 5rem;
        }
    }
}

.swiper-tabs-mobile01 {
    display: none;
}

.swiper-tabs-mobile02 {
    display: none;
}

// mission

.mission {
    background: url("../images/mission.jpg") center no-repeat;
    background-size: cover;

    @include size(mobile) {
        background: url("../images/mission.jpg") 80% 70% no-repeat;
    }

    .wrapper-p {
        @include size(mobile) {
            width: 78%;
            padding: 0;
        }
    }

    h1 {
        color: #fff;
        margin-bottom: 2.5rem;

        @include size(mobile) {
            margin-bottom: 4rem;
        }
    }

    .mission-text-pc {
        display: block;

        @include size(mobile) {
            display: none;
        }
    }

    .mission-text-mobile {
        display: none;

        @include size(mobile) {
            display: block;
        }
    }

    .text {
        color: #fff;
        font-size: 1.2rem;
        width: 51%;
        word-break: keep-all;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;

        @include size(laptop-up) {
            width: 65%;
        }

        @include size(mobile) {
            width: 90%;
            font-size: 1.1rem;
        }
    }

    .line {
        margin: 2.5rem 0;
        height: 5rem;
        border-left: 1px solid #fff;

        @include size(mobile) {
            height: 4rem;
            border-left: 1px solid #fff;
        }
    }

    .ps {
        color: #fff;
        font-family: 'gadugir';
        font-size: 1.15rem;
        letter-spacing: 0.5px;

        @include size(mobile) {
            font-size: 1rem;
        }
    }
}

// client

.client {
    flex-direction: column;
    padding-top: 3rem;

    @include size(laptop-up) {
        padding-top: 0rem;
    }

    @include size(laptop) {
        padding-top: 1.5rem;
    }

    .wrapper-p {
        @include size(mobile) {
            width: 78%;
            padding: 0;
        }
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 6rem;
        margin-top: 3rem;

        @include size(laptop-up) {
            margin-top: 1rem;
            margin-bottom: 6rem;
        }

        @include size(laptop) {
            margin-top: 0rem;
            margin-bottom: 4rem;
        }

        @include size(mobile) {
            margin-top: 0rem;
            margin-bottom: 2.5rem;
        }
    }

    .client-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .swiper-client-next {
        background: url('../images/right-arrow.png') 0 0 no-repeat;
        background-size: contain;
        margin-top: 0;
        top: 38%;
        right: -30px;

        @include size(laptop) {
            top: 40.5%;
            right: -10px;
        }

        @include size(mobile) {
            display: none;
        }
    }

    .swiper-client-prev {
        background: url('../images/left-arrow.png') 0 0 no-repeat;
        background-size: contain;
        margin-top: 0;
        top: 38%;
        left: -30px;

        @include size(laptop) {
            top: 40.5%;
            left: -10px;
        }

        @include size(mobile) {
            display: none;
        }
    }

    .swiper-client-pc {
        overflow: hidden;

        @include size(mobile) {
            display: none;
        }
    }

    .client-list {
        position: relative;
        width: 16%;
        height: 17rem;
        margin: 0 2rem;

        @include size(laptop-up) {
            width: 18%;
            height: 13.5rem;
            margin: 0 1.5rem;
        }

        @include size(laptop) {
            width: 19.5%;
            height: 13rem;
            margin: 0 1rem;
        }

        @include size(mobile) {
            width: 19.5%;
            height: calc(5rem + 30vw);
            margin: 0 1rem;
        }

        img {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        .upper {
            z-index: 2;
            transition: all 0.3s;
        }

        .lower {
            z-index: 1;
        }

        &:hover {
            .upper {
                opacity: 0;
            }
        }
    }
}

.swiper-client-mobile {
    display: none;
    width: 78vw;
    overflow: hidden;

    @include size(mobile) {
        display: block;
    }

    .client-list {
        width: 47%;
        margin: 0.25rem 0;
    }

    .swiper-pagination-bullets {
        text-align: center;
    }

    .swiper-pagination-bullet {
        background: #b4b4b4;
        width: 0.5rem;
        height: 0.5rem;
        margin: 0 0.75rem !important;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
        background: #1b1e23;
    }
}

// footer

.contactus {
    background-color: #1b1e23;
    position: relative;
    display: block;

    @include size(mobile) {
        height: auto;
    }

    .wrapper-p {
        @include size(mobile) {
            width: 100%;
            padding: 4rem 12%;
            margin: 0 auto;
        }
    }

    .google-maps {
        @include size(mobile) {
            height: 30vh;
        }
    }
}

.footer-head {
    position: absolute;
    display: flex;
    padding: 2.25rem calc(17% + 3rem);
    width: 100%;
    background: rgba(10, 15, 25, 0.9);

    @include size(laptop-up) {
        padding: 1.75rem calc(17% + 3rem) 1.35rem;
    }

    @include size(mobile) {
        position: static;
        display: block;
    }

    .left {
        color: #fff;
        width: 57.5%;
        height: 14rem;
        position: relative;

        @include size(laptop) {
            width: 53%;
        }

        @include size(mobile) {
            width: 100%;
        }

        h1 {
            line-height: 1.4;
            font-size: 2rem;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 400;
        }

        .phone-num {
            font-size: 1.4rem;
            font-family: 'gadugi', sans-serif;
            margin-top: 2.5rem;

            .first {
                margin-right: 0.5rem;
            }

            .second {
                margin-left: 0.5rem;
            }

            @include size(mobile) {
                margin-top: 1.5rem;
            }
        }

        .footer-head-text {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1rem;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;

            .address {
                font-size: 0.8rem;
            }

            @include size(mobile) {
                position: static;
                margin-top: 1rem;
                letter-spacing: 0.25px;
                line-height: 2;
            }
        }
    }

    form {
        width: 42.5%;
        height: 14rem;
        position: relative;

        @include size(laptop) {
            width: 47%;
        }

        @include size(mobile) {
            width: 100%;
            margin-top: 1rem;
        }

        iframe {
            display: none;
        }

        input,
        textarea {
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            padding: 0.6rem;
            width: calc(50% - 3px);
            font-size: 0.75rem;

            @include size(mobile) {
                font-size: 0.95rem;
            }

            &.right {
                margin-left: 1px;

                @include size(mobile) {
                    margin-left: 3px;
                }
            }

            &.bottom {
                margin-top: 8px;
            }

            &.submit {
                width: calc(100% - 2px);
                position: absolute;
                bottom: 0;
                left: 0;
                background: none;
                border: 2px solid #fff;
                font-size: 0.85rem;
                padding: 0.6rem;
                transition: 0.3s all;
                cursor: pointer;
                color: #fff;

                @include size(mobile) {
                    width: 100%;
                    font-size: 0.95rem;
                }

                @include size(mobile) {
                    position: static;
                    margin-top: 0.2rem;
                }

                &:hover,
                &:focus {
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }

        textarea {
            width: calc(100% - 2px);
            resize: none;
            height: 5.3rem;

            @include size(mobile) {
                width: 100%;
            }
        }

        input::placeholder,
        textarea::placeholder {
            color: #999;
        }
    }
}

.footer-pc {
    width: 100%;
    background: $black2;
    position: absolute;
    bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    display: block;

    @include size(mobile) {
        position: static;
        display: none;
    }

    .externals {
        position: absolute;
        top: 1.8rem;
        right: 1.5rem;

        ul {
            display: flex;

            li {
                width: 3rem;

            }
        }
    }

    .company-info {
        color: #afafaf;
        font-size: 0.7rem;
        letter-spacing: 0.5px;
        line-height: 2;
        margin-top: 1rem;

        .copy {
            font-family: 'gadugir', sans-serif;
            font-size: 0.625rem;
        }

        .info-block {
            display: inline-block;
            margin-left: 2rem;

            &:first-child {
                margin: 0;
            }

            span {
                position: relative;
                margin-left: 1.5rem;
                font-family: 'gadugir', 'Noto Sans KR', sans-serif;
                font-weight: 300;

                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1px;
                    height: 0.7rem;
                    background: #afafaf;
                    top: 3px;
                    left: -14px;
                }
            }
        }
    }
}

.footer-mobile {
    display: none;
    color: #a8aaae;
    font-size: 0.75rem;

    .copy {
        margin-top: 1rem;
        font-size: 0.5rem;
    }

    .wrapper-p {
        padding: 2.5rem 12%;
    }

    @include size(mobile) {
        display: block;
    }

    .footer-logo {
        width: 40%;

        img {
            width: 100%;
        }

        margin-bottom: 1.25rem;
    }

    .company-info {
        display: flex;

        li {
            margin-top: 0.5rem;
        }

        .tags {
            width: 18%;
        }

        .info {
            width: 82%;
        }
    }

    .externals {
        ul {
            display: flex;
            margin-top: 1rem;

            li {
                width: 2.75rem;
                height: 2.75rem;
                margin: 0.6rem;
                border: 1px solid #a8aaae;
                border-radius: 50%;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    width: 2.75rem;
                    height: 2.75rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                img {
                    width: 1.1rem;
                    display: block;
                    margin-top: -1px;
                    margin-left: -1px;
                }

            }
        }
    }
}

// menu

.menu {
    width: 27vw;
    height: 100vh;
    background: #1b1e23;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.4s;

    @include size(mobile) {
        width: 100vw;
    }

    li {
        font-family: 'gadugi', sans-serif;
        margin: 1.25rem;
        font-size: 1.7rem;
        overflow: visible;
        position: relative;
    }
}

.menu_active {
    transform: translateX(0%);
}

.menu .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    font-size: 45px;
    line-height: 45px;
    height: 60px;
    width: 60px;
    color: white;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
        opacity: 0.7;
        transform: translateY(0.2rem);
    }
}

.menu {
    ul {
        @include size(mobile) {
            margin-left: -30vw;
        }
    }
}

.menu ul li a {
    letter-spacing: 0.1px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    display: inline-block;

    span {
        letter-spacing: 0.1px;
        color: #fff;
        position: absolute;
        top: 0.6rem;
        right: -3.5rem;
        font-size: 0.9rem;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 0.05rem;
        background: #fff;
        bottom: 0.3rem;
        left: 0;
        z-index: 99;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.4s;
    }

    &:hover:after {
        transform: scaleX(1);
    }
}