@import url("setup.css");
.wrapper-p {
  width: 66%;
  margin: 0 auto;
  padding-right: 3rem;
  padding-left: 3rem;
  position: relative;
}

.wrapper-p.client {
  padding: 0 4rem;
}

.wrapper-np {
  width: 66%;
  margin: 0 auto;
  position: relative;
}

.burger {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #FFFFFF;
  position: fixed;
  top: 25px;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 98;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 18px rgba(30, 20, 60, 0.2);
          box-shadow: 0px 0px 18px rgba(30, 20, 60, 0.2);
}

.burger span {
  height: 2px;
  width: 20px;
  background: #282f39;
  margin: 2px;
  cursor: pointer;
}

.burger:hover span:first-child {
  width: 10px;
  -webkit-transform: rotate(33deg) translate(6px, 0px);
          transform: rotate(33deg) translate(6px, 0px);
}

.burger:hover span:last-child {
  width: 10px;
  -webkit-transform: rotate(-33deg) translate(6px, 0px);
          transform: rotate(-33deg) translate(6px, 0px);
}

.content {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #282f39;
}

.main-message {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 6;
}

h1 {
  font-family: "gadugi";
  font-size: 3.8rem;
  line-height: 1.2;
}

#main1 {
  font-family: "gadugi";
  font-size: 3.6rem;
  color: #282f39;
  text-align: center;
  margin-bottom: 1.6rem;
}

#main2 {
  margin-top: 1.3rem;
  font-family: "NotoSansBold";
  font-size: 2.3rem;
  color: #282f39;
  text-align: center;
  word-break: keep-all;
}

#main3 {
  font-family: "NotoSansRegular";
  font-size: 1.15rem;
  color: #282f39;
  text-align: center;
  margin-top: 1.35rem;
  letter-spacing: -1px;
}

.bg {
  width: 160%;
  height: 160%;
  background: url("../images/img2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 4;
}

.line-black {
  border: 5px solid;
  padding: 0.5px;
  height: 5.5%;
  border: 5px;
  background-color: #282f39;
}

.image-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 3;
}

.first-img {
  position: absolute;
  top: -40%;
  height: 175vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background: url("../images/img1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#vision {
  position: relative;
}

#vision .text {
  font-family: 'NotoSansMedium', sans-serif;
  font-size: 1rem;
  position: absolute;
  bottom: 5rem;
  left: calc(17% + 3rem);
}

.circles {
  position: absolute;
  width: 45%;
  right: 14%;
  font-size: 1rem;
  font-family: 'NotoSansMedium', sans-serif;
}

.circles ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circles .circle {
  position: relative;
  cursor: pointer;
}

.circles .circle-inner {
  position: absolute;
  border: 4px solid #000;
  border-radius: 50%;
  width: calc(7.5vw + 2rem);
  height: calc(7.5vw + 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circles .circle-inner:hover.black {
  opacity: 1;
}

.circles .circle-inner.black {
  opacity: 0;
  text-align: center;
  background: #000;
  color: #fff;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.circles .circle-inner.white {
  text-align: left;
  z-index: 1;
}

.square {
  position: absolute;
  top: 0;
  background: #fff;
  height: 40%;
  width: 18%;
  z-index: 5;
}

.square.right {
  right: 0%;
}

.square.left {
  left: 0%;
}

.business-partner {
  position: absolute;
  top: 1.75rem;
  right: 3rem;
  font-family: "gadugi";
  font-size: 1.35rem;
}

.feedback {
  background: url(../images/ref-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#reference {
  position: relative;
}

.ref-title {
  position: absolute;
  width: 100%;
  top: 5rem;
  text-align: center;
  color: #fff;
}

.ref-title h1 {
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.swiper-reference {
  position: relative;
  height: 90%;
  width: 100%;
  overflow-x: visible;
}

.swiper-reference .swiper-slide {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.swiper-reference .photo {
  height: 58%;
  width: 70%;
  background-size: cover;
  background-position: center;
}

.swiper-reference .photo1 {
  background-image: url(../images/ref-wingwing.png);
}

.swiper-reference .photo2 {
  background-image: url(../images/ref-glowroudi.png);
}

.swiper-reference .photo3 {
  background-image: url(../images/ref-nongrim.png);
}

.swiper-reference .photo4 {
  background-image: url(../images/ref-wonderful.png);
}

.swiper-reference .photo5 {
  background-image: url(../images/ref-samsung.png);
}

.reftext1 {
  position: absolute;
  font-family: "NotoSansBold";
  left: 2%;
  top: 40.5%;
  color: #fff;
  font-size: 2vw;
  line-height: 1.5;
}

.reftext1.single {
  top: 46%;
}

.reftext1.dual {
  top: 44%;
}

.reftext2 {
  position: absolute;
  font-family: "gadugir", sans-serif;
  left: 15%;
  top: 80%;
  color: #fff;
  font-size: 1.1rem;
}

.reftext3 {
  position: absolute;
  font-family: "NotoSansRegular", sans-serif;
  top: 80%;
  left: 18rem;
  color: #fff;
  font-size: 1.1rem;
  text-align: right;
}

.swiper-ref-next {
  background: url("../images/ref-next.png") !important;
  background-position: center !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: auto !important;
  bottom: 18.9% !important;
  right: 24.5% !important;
  width: 3rem !important;
  height: 3rem !important;
}

.swiper-ref-prev {
  background: url("../images/ref-prev.png") !important;
  background-position: center !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: auto !important;
  bottom: 18.9% !important;
  left: 68.9% !important;
  width: 3rem !important;
  height: 3rem !important;
}

.maps {
  background: #1b1e23;
}

@media all and (min-width: 768px) {
  .swiper-project {
    position: relative;
    height: 90%;
    width: 100%;
  }
  .swiper-project .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .Project-text {
    position: absolute;
    top: 307vh;
    left: 18%;
    font-family: "gadugi";
    color: #fff;
    font-size: 4vw;
  }
  #project-title1 {
    position: absolute;
    top: 4vh;
    right: 10%;
    font-family: "NotoSansRegular";
    color: #fff;
    font-size: 1.7vw;
  }
  #project-title2 {
    position: absolute;
    top: 8vh;
    right: 10%;
    font-family: "gadugi";
    color: #fff;
    font-size: 2.5vw;
  }
  .maps iframe {
    position: absolute;
    top: 17vh;
  }
  #Project-des {
    position: absolute;
    top: 385vh;
    font-family: "NotoSansRegular";
    color: #fff;
    text-align: center;
    font-size: 1.5vw;
    line-height: 2vw;
  }
  .Project-logo1 {
    position: absolute;
    width: 15%;
    height: 15%;
    top: 69vh;
    background: url("../images/project-lotte.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Project-logo2 {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 71vh;
    background: url("../images/project-nike.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Project-logo3 {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 64vh;
    background: url("../images/project-glowloudy.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Project-logo4 {
    position: absolute;
    width: 15%;
    height: 15%;
    top: 69vh;
    background: url("../images/project-nongrim.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Project-logo5 {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 64vh;
    background: url("../images/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .swiper-prj-prev {
    background-image: url("../images/left-arrow.png");
    position: absolute;
    top: 350vh !important;
    margin-left: 10% !important;
  }
  .swiper-prj-next {
    background-image: url("../images/right-arrow.png");
    position: absolute;
    top: 350vh !important;
    margin-right: 10% !important;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .swiper-project {
    position: relative;
    height: 90%;
    width: 100%;
    top: 0vh;
  }
  .swiper-project .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .Project-text {
    position: absolute;
    top: 305vh;
    font-family: "gadugi";
    color: #fff;
    font-size: 12vw;
  }
  #project-title1 {
    position: absolute;
    top: 13vh;
    font-family: "NotoSansRegular";
    color: #fff;
    font-size: 4vw;
  }
  #project-title2 {
    position: absolute;
    top: 17vh;
    width: 70%;
    font-family: "gadugi";
    color: #fff;
    font-size: 6vw;
    word-break: keep-all;
    text-align: center;
    line-height: 6vw;
  }
  .maps iframe {
    position: absolute;
    top: 25vh;
    width: 80vw;
    height: 40vh;
  }
  #Project-des {
    position: absolute;
    top: 385vh;
    width: 100%;
    font-family: "NotoSansDemiLight";
    color: #fff;
    text-align: center;
    font-size: 0vw;
    letter-spacing: -0.25vw;
    line-height: 6.5vw;
    word-break: keep-all;
  }
  .Project-logo1 {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 52vh;
    background: url("../images/project-lotte.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Project-logo2 {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 62vh;
    background: url("../images/project-nike.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Project-logo3 {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 52vh;
    background: url("../images/project-glowloudy.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Project-logo4 {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 52vh;
    background: url("../images/project-nongrim.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Project-logo5 {
    position: absolute;
    width: 75%;
    height: 75%;
    top: 42vh;
    background: url("../images/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .swiper-prj-prev {
    background-image: url("../images/left-arrow.png");
    position: absolute;
    top: 317vh !important;
    width: 0% !important;
    height: 0% !important;
    margin-left: 7% !important;
  }
  .swiper-prj-next {
    background-image: url("../images/right-arrow.png");
    position: absolute;
    top: 317vh !important;
    width: 0% !important;
    height: 0% !important;
    margin-right: 7% !important;
  }
  .swiper-prj-pagination {
    top: 390vh !important;
  }
  .swiper-prj-pagination .swiper-pagination-bullet {
    border-radius: 1;
    color: #ffffff;
    /*orange color*/
    background-color: #ffffff;
    /*orange color*/
    opacity: 0.5;
    margin: 0 2px !important;
  }
  .swiper-prj-pagination .swiper-pagination-bullet-active {
    border-radius: 1;
    color: #ffffff;
    /*orange color*/
    background-color: #ffffff;
    /*orange color*/
    opacity: 1;
  }
}

@media all and (min-width: 768px) {
  .contacts {
    background: #fff;
  }
  .Purpleseed-about {
    position: absolute;
    top: 408%;
    right: 23%;
    font-family: "gadugi";
    color: #000;
    text-align: right;
    font-size: 4vw;
    line-height: 4.2vw;
  }
  .about1 {
    position: absolute;
    top: 423%;
    left: 20%;
    width: 30vw;
    height: 30vw;
    padding-bottom: 30%;
    overflow: hidden;
  }
  .about1 img {
    position: absolute;
    width: 100%;
    height: 90%;
  }
  .about1-1 {
    position: absolute;
    top: 423%;
    left: 20%;
    width: 30vw;
    height: 30vw;
    padding-bottom: 30%;
    overflow: hidden;
    z-index: 99;
  }
  .about1-1 img {
    position: absolute;
    width: 100%;
    height: 90%;
  }
  .about2 {
    position: absolute;
    top: 433%;
    right: 20%;
    width: 30vw;
    height: 30vw;
    padding-bottom: 30%;
    overflow: hidden;
  }
  .about2 img {
    position: absolute;
    width: 100%;
    height: 90%;
  }
  .about2-1 {
    position: absolute;
    top: 433%;
    right: 20%;
    width: 30vw;
    height: 30vw;
    padding-bottom: 30%;
    overflow: hidden;
    z-index: 99;
  }
  .about2-1 img {
    position: absolute;
    width: 100%;
    height: 90%;
  }
  .about1-m {
    width: 0%;
    height: 0%;
  }
  .about1-m img {
    width: 0%;
    height: 0%;
  }
  .about1-1m {
    width: 0%;
    height: 0%;
  }
  .about1-1m img {
    width: 0%;
    height: 0%;
  }
  .about2-m {
    width: 0%;
    height: 0%;
  }
  .about2-m img {
    width: 0%;
    height: 0%;
  }
  .about2-1m {
    width: 0%;
    height: 0%;
  }
  .about2-1m img {
    width: 0%;
    height: 0%;
  }
}

.mission {
  background: url("../images/mission.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mission h1 {
  color: #fff;
  margin-bottom: 2.5rem;
}

.mission .text {
  color: #fff;
  font-size: 1.2rem;
  width: 51%;
  word-break: keep-all;
  font-family: 'NotoSansRegular', sans-serif;
}

.mission .line {
  margin: 2.5rem 0;
  height: 5rem;
  border-left: 1px solid #fff;
}

.mission .ps {
  color: #fff;
  font-family: 'gadugir';
  font-size: 1.15rem;
}

.client {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
}

.client h1 {
  font-size: 1.5rem;
  margin-bottom: 6rem;
  margin-top: 3rem;
}

.client .client-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client .swiper-client-next {
  background: url("../images/right-arrow.png") 0 0 no-repeat;
  background-size: contain;
  margin-top: 0;
  top: 38%;
  right: -30px;
}

.client .swiper-client-prev {
  background: url("../images/left-arrow.png") 0 0 no-repeat;
  background-size: contain;
  margin-top: 0;
  top: 38%;
  left: -30px;
}

.client .swiper-client {
  overflow: hidden;
}

.client .client-list {
  position: relative;
  width: 16%;
  height: 17rem;
  margin: 0 2rem;
}

.client .client-list img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.client .client-list .upper {
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.client .client-list .lower {
  z-index: 1;
}

.client .client-list:hover .upper {
  opacity: 0;
}

.contactus {
  background-color: #1b1e23;
  position: relative;
  display: block;
}

iframe #mapDiv {
  position: relative;
}

.footer {
  width: 100%;
  background: #1b1e23;
  height: 5rem;
  position: absolute;
  bottom: 0;
}

.footer-head {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  padding: 2rem 17%;
  width: 100%;
  background: rgba(10, 15, 25, 0.9);
}

.footer-head .left {
  color: #fff;
  width: 57.5%;
  height: 15rem;
  position: relative;
}

.footer-head .left h1 {
  line-height: 1.4;
  font-size: 2.15rem;
  font-family: 'NotoSansRegular', sans-serif;
}

.footer-head .left .phone-num {
  font-size: 1.6rem;
  font-family: 'gadugi', sans-serif;
  margin-top: 2.3rem;
}

.footer-head .left .phone-num .first {
  margin-right: 0.5rem;
}

.footer-head .left .phone-num .second {
  margin-left: 0.5rem;
}

.footer-head .left .footer-head-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  font-family: 'NotoSansDemiLight', sans-serif;
}

.footer-head .left .footer-head-text .address {
  font-size: 0.8rem;
}

.footer-head form {
  width: 42.5%;
  height: 15rem;
  position: relative;
}

.footer-head form input, .footer-head form textarea {
  font-family: 'NotoSansDemiLight', sans-serif;
  padding: 0.6rem;
  width: calc(50% - 3px);
  font-size: 0.75rem;
}

.footer-head form input.right, .footer-head form textarea.right {
  margin-left: 2px;
}

.footer-head form input.bottom, .footer-head form textarea.bottom {
  margin-top: 8px;
}

.footer-head form input.submit, .footer-head form textarea.submit {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
  border: 2px solid #fff;
  font-size: 0.85rem;
  padding: 0.6rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
  color: #fff;
}

.footer-head form input.submit:hover, .footer-head form textarea.submit:hover {
  background: rgba(255, 255, 255, 0.1);
}

.footer-head form textarea {
  width: 100%;
  resize: none;
  height: 5.3rem;
}

.footer-head form input::-webkit-input-placeholder,
.footer-head form textarea::-webkit-input-placeholder {
  color: #999;
}

.footer-head form input:-ms-input-placeholder,
.footer-head form textarea:-ms-input-placeholder {
  color: #999;
}

.footer-head form input::-ms-input-placeholder,
.footer-head form textarea::-ms-input-placeholder {
  color: #999;
}

.footer-head form input::placeholder,
.footer-head form textarea::placeholder {
  color: #999;
}

.menu {
  width: 27vw;
  height: 100vh;
  background: #1b1e23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  font-size: 45px;
  line-height: 45px;
  height: 60px;
  width: 60px;
  color: white;
  padding: 0;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu .btn-close:hover {
  opacity: 0.7;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  font-family: 'gadugi', sans-serif;
  margin: 1.25rem;
  font-size: 1.7rem;
  overflow: visible;
  position: relative;
}

.menu ul li a {
  letter-spacing: 0.1px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.menu ul li a span {
  letter-spacing: 0.1px;
  color: #fff;
  position: absolute;
  top: 0.6rem;
  right: -3.5rem;
  font-size: 0.9rem;
}

.menu ul li a:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0.05rem;
  background: #fff;
  bottom: 0.3rem;
  left: 0;
  z-index: 99;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu ul li a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#footer {
  background: #1b1e23;
  height: 10%;
}

#footer .f_sec01 {
  position: absolute;
  top: 887%;
  left: 22%;
  width: 50%;
}

#footer .f_sec01 p {
  position: relative;
  left: 22%;
  font-weight: 300;
  color: #fff;
  line-height: 1.7;
  font-family: "NotoSansDemiLight";
  font-size: 0.5rem;
  left: 0%;
  margin-top: 13px;
  margin-bottom: 5px;
  letter-spacing: 0.07vh;
}

#footer .f_sec01 span {
  position: relative;
  margin-top: 10px;
  font-size: 0.5rem;
  color: #fff;
  margin-bottom: 13px;
  letter-spacing: 0.07vh;
}

#footer .f_sec02 {
  width: 0%;
  height: 0%;
  font-size: 0vw;
}
/*# sourceMappingURL=style.css.map */